driftfile /var/lib/ntp/ntp.drift

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

# Specify one or more NTP servers.
server ntp.int.scaleway.com burst iburst
server ntp.nict.jp burst iburst

restrict -4 default ignore
restrict -6 default ignore

restrict -4 127.0.0.1
restrict -6 ::1
